<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Simple Framework</title>
<script src="./js/counterComponent.js"></script>
<script src="./js/getJsonData.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<link rel="stylesheet" href="./css/transition.css">
<link rel="icon" type="image/x-icon" href="./favicon.png">