<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('parts/header') %>
</head>

<body class="bg-slate-900 text-white flex justify-center h-screen items-center">
    <%- include('parts/firstSection') %>
</body>

</html>